<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Biblioteca
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Biblioteca</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-input label="Título" label-placement="floating" fill="solid" placeholder="ex.: O livro dos nomes" [(ngModel)]="titulo"></ion-input>
<ion-button (click)="getLivro(titulo)">Buscar livro</ion-button>
  <div *ngFor="let livro of livros">
    <ion-card>
      <img *ngIf="livro.cover_i != undefined" src="https://covers.openlibrary.org/b/id/{{livro.cover_i}}-M.jpg" id="livro-cover">
      <!-- Se o livro tiver uma capa, ele apresenta no card -->
      <ion-card-header>
        <ion-card-title>{{ livro.title }}</ion-card-title>
        <ion-card-subtitle>Autor: {{ livro.author_name }}</ion-card-subtitle>
        <ion-card-subtitle>Ano de lançamento: {{ livro.first_publish_year }}</ion-card-subtitle>
      </ion-card-header>
</ion-card>
  </div>
</ion-content>
